android/local.properties
android/keystore.properties
*.jks
*.keystore
android/.gradle/
android/build/
android/app/build/
android/*.iml
android/.idea/

windows/**/bin/
windows/**/obj/
windows/installer/publish/
dist/
